<a href="https://colab.research.google.com/github/arambs22/Laboratorio_A01642781/blob/main/Actividad_Evaluable_Obtenci%C3%B3n_de_estad%C3%ADsticas_descriptivas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Aram Barsegyan A01642781

In [ ]:
import pandas as pd
import random as random
import numpy as np

In [ ]:
df = pd.read_csv("clientes-centro-comercial.csv")
df.Edad = df.Edad
df.Ingresos = df.Ingresos
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   IDcliente  200 non-null    int64
 1   Genero     200 non-null    object
 2   Edad       200 non-null    int64
 3   Ingresos   200 non-null    int64
 4   Puntos     200 non-null    int64
dtypes: int64(4), object(1)
memory usage: 7.9+ KB
None

In [ ]:
df.columns
df.head()
tail= (df.tail(10))
df.describe()

        IDcliente        Edad    Ingresos      Puntos
count  200.000000  200.000000  200.000000  200.000000
mean   100.500000   38.850000   60.560000   50.200000
std     57.879185   13.969007   26.264721   25.823522
min      1.000000   18.000000   15.000000    1.000000
25%     50.750000   28.750000   41.500000   34.750000
50%    100.500000   36.000000   61.500000   50.000000
75%    150.250000   49.000000   78.000000   73.000000
max    200.000000   70.000000  137.000000   99.000000

In [ ]:
filtro_190 = df[ (df["Edad"] > 50) & (df["Ingresos"] < 100)]
print(filtro_190.describe())

        IDcliente       Edad   Ingresos     Puntos
count   39.000000  39.000000  39.000000  39.000000
mean    82.384615  60.615385  52.641026  37.820513
std     45.662731   6.020209  18.567781  18.884513
min      9.000000  51.000000  19.000000   3.000000
25%     57.500000  55.500000  44.000000  15.000000
50%     74.000000  60.000000  50.000000  46.000000
75%    109.500000  66.500000  63.000000  51.500000
max    179.000000  70.000000  93.000000  60.000000

In [ ]:
print(filtro_190["Edad"].mean())

60.61538461538461

In [ ]:
sorted_df = df["Edad"].sort_values()
sorted_df = sorted_df.reset_index(drop=True)

p = 5
sum = 0
for i in range(p,len(sorted_df)-p):
  sum += sorted_df[i]
mean_recort = sum / (len (sorted_df)-2*p)

print(mean_recort)

38.6

In [ ]:
sorted_df[p:-p].mean()

38.6

In [ ]:
weights =[random.random() for i in range(len(df))]
sum2 = 0
for x in weights:
  sum2 += x
media_pond = df["Edad"].values.flatten().dot(weights)
media_pond = media_pond/sum2
print(media_pond)

38.49838950556465

In [ ]:
moda = df["Genero"].mode()
print(moda)

0    Mujer
Name: Genero, dtype: object

In [ ]:
mediana = df["Edad"].median()
print(mediana)

36.0

In [ ]:
varianza = df['Edad'].var()
print(varianza)

195.13316582914572

In [ ]:
sd = df["Edad"].std()
print(sd)

13.96900733155888

In [ ]:
cuartiles = df["Edad"].quantile([0.25,0.5,0.75])
print(cuartiles)

0.25    28.75
0.50    36.00
0.75    49.00
Name: Edad, dtype: float64